@page "/"
@using BlazorTest.Components
@inject IJSRuntime JSRuntime

<h1>Hello, world!</h1>

<ModalDialog Id="example-modal" HeaderText="abc">
    <DialogBody>
        First name:
        <EditForm Model="@myForm">
            <MyInput Autofocus="true" bind-Value="@myForm.FirstName" Placeholder="First name" />
            <ValidationSummary />
            <DataAnnotationsValidator />
        </EditForm>
    </DialogBody>
</ModalDialog>

<button type="button" onclick="@ShowModalDialog" class="btn btn-primary">
    Show modal dialog
</button>

@functions
{

    FormData myForm = new FormData();

    private void ShowModalDialog()
    {
        JSInterop.ShowModalDialog(JSRuntime, "example-modal");
    }

    protected class FormData
    {
        [System.ComponentModel.DataAnnotations.Required]
        public string FirstName { get; set; } = String.Empty;
    }
}